<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Main Page</title>
</head>
<body>
    <div>
        <p color = red >Hello, What's your name?</p>
    </div>
    <div>
        <form method="post" action="/">
            <p>Name:</p>
            <input type="text" name="username"><br />
            <input type="submit" value="确认" id="submit">
        </form>
    </div>
</body>
</html>
